<div style="background: #1b1c1e; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; overflow: hidden">
  <div style="background-color:#00a770; width: 1000vw; height: 1000vh; position: fixed; transform:rotateZ(45deg) translate(-500vw) "></div>
  <p style="color: white; font-size: 100px; font-family: 'ReggaeOne', 'arial', sans-serif; z-index: 1;display: flex; align-items: center;  ">
    <span style="color: #1b1c1e; font-weight: bold">
      B
    </span>
    &nbsp;&nbsp;&nbsp;
    <span style="color: #00a770">
      緑
    </span>
  </p>
</div>
