<div
  style="background: #1b1c1e; padding-top: 20px;padding-bottom: 20px; color: white">
  <div style="margin: auto; width: 720px">
    <div class="su-spoiler-content su-u-clearfix su-u-trim">
      <p>A Política de Privacidade e Segurança descrita abaixo constitui parte das Condições de Termos e Uso do presente site, respeitando todas as normas previstas nas legislações vigentes em nosso país, principalmente na Lei Geral de Proteção de Dados.</p>
      <p>A Visita e permanência no site implica-se automaticamente na concordância explicita na política abaixo em todos os seus termos.</p>
      <p>Este site é operado, mantido e de inteira propriedade de <strong><em>Railson Ferreira</em></strong> e está hospedado com o endereço <strong><em>https://blackmidori.com</em></strong>.</p>

      <h3 class="wp-block-heading"><strong>Informações Gerais:</strong></h3>
      <p>Este site realiza os tratamentos de dados pessoais dos usuários do blog, desde a fase da sua coleta até a sua eliminação, respeitando a legislação do país onde foi criado. Atuando como controlador dos dados pessoais coletados por meio desse blog, ficamos à disposição das normas trazidas na<a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm" target="_blank" rel="noopener"> Lei Federal n. 13.709/2018, </a>Lei Geral de Proteção de dados.</p>
      <p>O Site trabalha com todas as medidas necessárias para trazer segurança e proteção a privacidade de seus usuários, trazendo detalhadamente a forma de atuação do blog referente as etapas de coleta, armazenamento, uso, compartilhamento e divulgação dos dados pessoais dos usuários,&nbsp; bem como a forma como é realizada a segurança e proteção dos dados que são coletados na nossa página.</p>
      <p>&nbsp;O site será tratado no decorrer dessa Política de Privacidade e Segurança como “nós “, “nos”, “conosco” e “nosso”.</p>

      <h3 class="wp-block-heading">&nbsp;<strong>Observação importante</strong></h3>
      <p>Realizamos o tratamento dos seus dados pessoais com total responsabilidade e para demonstrar a transparência da nossa coleta e utilização de dados pessoais, disponibilizamos a política de privacidade, que contém informações necessárias esclarecedoras para os usuários do nossos produtos, como:</p>
      <ul><li>Nome do mantenedor, operador e proprietário do site e outros aplicativos;</li><li>Para qual público é voltado nosso blog;</li><li>&nbsp;A partir de qual idade é indicado absorver os conteúdos do blog;</li><li>Quais os dados são coletados;</li><li>&nbsp;Uso de cookies;</li><li>Formas de entrar em contato conosco.</li></ul>

      <h3 class="wp-block-heading"><strong>&nbsp;Sobre os nossos produtos</strong></h3>
      <p>Nossos sites e aplicativos tem como objetivo informar e levar informação, além de outras ferramentas para facilitar as tarefas cotidianas.</p>
      <p>De forma responsável, o site declara assumir&nbsp; compromisso total com a segurança e privacidade dos dados de seus clientes, durante todo o período de navegação em nosso site. Esta política de privacidade e segurança tem como principal objetivo de esclarecer e demonstrar aos visitantes do nosso blog, como todas as informações, aqui coletadas, serão tratadas e quais poderão ser divulgadas ou publicadas com nossos parceiros.</p>
      <p>Qualquer modificação em nossa Política de Privacidade é Segurança serão informadas aos nossos usuários de forma imediata neste espaço.</p>
      <p>Ao acessar o nosso site, o usuário concorda, aceita e adere de forma automática todas as informações e condições previstas neste documento, que pode ser denominado como Política de Privacidade e Segurança ou Termos de Uso, que devem ser obrigatoriamente respeitados.</p>
      <p>O site traz abaixo todas as regras e termos referente a privacidade e o uso da nossa página, qualquer comunicado posterior será notificado de forma expressa aos nossos usuários.&nbsp;</p>
      <p>&nbsp;A equipe do nosso site está à disposição para esclarecer quaisquer&nbsp; dúvidas.</p>
      <p>O nosso site é indicado para pessoas a partir de 18 anos, que possuam interesse ou curiosidade a respeito do conteúdo que trazemos. Caso seja menor que 18 anos, é necessário a permissão do responsável.</p>
      <p>&nbsp;O conteúdo do nosso site é produzido por nossa equipe respeitando os valores éticos e humanos, bem como os princípios morais, buscando informar da melhor maneira a respeito do conteúdo que trazemos.</p>

      <h3 class="wp-block-heading"><strong>Dados coletados</strong></h3>
      <p>&nbsp;O nossos produtos não coletam nenhum dado ou informações dos nossos usuários.&nbsp;</p>

      <h3 class="wp-block-heading">Cookies</h3>
      <p>&nbsp;O nosso blog trabalha com a política de cookies para melhorar a sua experiência em nosso ambiente virtual, como buscamos sempre o melhor para nossos usuários.</p>

      <h4 class="wp-block-heading">O que são cookies?</h4>
      <p>&nbsp;Cookies são pequenos arquivos enviados por sites de lojas, empresas, blogs e etc. ao navegador, para proporcionar uma melhor experiência ao usuário, pois eles realizam um registro a respeito das preferências dos usuários, disponibilizando mais rápido conteúdo e informações que proporcionem satisfação ao nosso usuário.</p>
      <p>Os cookies não são vírus, ou spam, por isso não se preocupe quando receber um aviso para aceitar os cookies em alguma de nossas páginas.</p>

      <h4 class="wp-block-heading">Formas de uso dos cookies</h4>
      <p>Os cookies relativos a preferências de site são utilizados pelo nosso blog em busca de proporcionar uma experiência excelente aos nossos usuários, já que é através desse mecanismo que podemos buscar informações a respeito das suas preferências, sendo utilizados sempre que você acessar alguma das páginas do presente blog.</p>

      <h3 class="wp-block-heading">Futuras alterações neste documento</h3>
      <p>Está Política de Privacidade e Segurança segue todas as regras trazidas na legislação brasileira, especialmente as presentes na Lei Geral de Proteção de Dados.</p>
      <p>Não há um período específico para ocorrer qualquer modificação neste texto, por esse motivo informamos ser livre o nosso direito de alteração a qualquer momento, principalmente no caso de alterações feitas na legislação brasileira ou no nosso site.</p>
      <p>Nós comprometemos a informar aos nossos usuários a respeito de qualquer alteração que aconteça nesta Política de Privacidade e Segurança.</p>

      <h3 class="wp-block-heading">Formas de entrar em contato conosco</h3>
      <p>Buscamos sempre o melhor relacionamento com o nosso usuário, por esse motivo estamos a disposição para responder qualquer dúvida a respeito da nossa Política de Privacidade e segurança e a informar sobre o tratamento de dados realizados por nós.&nbsp;</p>
      <p>Você pode entrar em contato conosco através do email <strong><em>contact@blackmidori.com</em></strong> .</p>

      <h3 class="wp-block-heading">Informações adicionais</h3>
      <p>Este documento foi desenvolvido pelo <a href="https://diegocastro.adv.br/modelo-politica-privacidade/" rel="nofollow">Advogado Diego Castro</a> (OAB/PI 15.613) e modificado com permissão para este site, com a função de explicitar e orientar os nossos usuários a respeito da Política de Privacidade e Segurança utilizada pelo nosso site e outros produtos.</p>
      <p>Esperamos que tenha ficado claro todos os pontos debatidos neste documento.</p>
      <p>Está Política de Privacidade e Segurança passa a ter validade a partir de 23 de Junho de 2023 com validade indeterminada.</p>
    </div>
  </div>
</div>
